.quiz-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    padding-top: 60px;
  }

  .fixed-timer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    color: red; 
    font-weight: bold; 
    text-align: center; 
    padding: 10px 0;
    z-index: 1000; 
    border-bottom: 2px solid #ccc; 
  }
  
  .questions-list {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .question-block {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .submit-section {
    text-align: center;
  }

  .submit-button {
    width: 400px;
    background-color:  rgb(103, 103, 238);
  }

  .submit-button:hover {
    background-color: rgb(81, 81, 219);
  }
  
  .warning {
    color: rgb(241, 79, 79);
    margin-top: 10px;
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }